DB_URL=jdbc:postgresql://localhost:5432/tourplanner
DB_USER=tourplanner
DB_PASSWORD=development
PORT=8080
ORS_ENABLED=false
ORS_API_KEY=
ORS_BASE_URL=https://api.openrouteservice.org
TOUR_IMAGE_BASE_DIRECTORY=./tour-images
DOCKER_COMPOSE_ENABLED=false
